{% extends 'home.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <h2>Congrats! Your files have been uploaded.</h2>

        <div class="box-parent">
            {% for image in files %}
                <div class="box-image col-xs-5">
                    <div>
                        <h4>Name: {{ image }}</h4>
                    </div>
                    <div>
                        <img src="{{ image }}" alt="uploaded image" class="img-thumbnail">
                    </div>
                    <div>
                        <a class="btn btn-danger" href="index.php?section=unlink&file={{ image }}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}